/hw1soln/target/
DePaul-SE452-master/L2-persistence/sql/db/mydb.properties
/TestProject/nbproject/private/
/TestProject/build/
/TestProject/target/
/MyOnlineStore/target/
/WebApplication1/nbproject/private/