/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2014, 5:35:35 PM
    Author     : RedPencil
*/


/* html tags */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 0;
    background-color: #F6CEEC;
    height: 1px;
    width: 95%;
}

table {
    margin: 0 20px 20px;
    border-spacing: 0;
    text-align: center;
    border: solid 1px #A9D0F5;
}

/* general styles */
#main { background: white }

.lightBlue { background-color: #BCA9F5 }

.white { background-color: #fff }

.smallText { font-size: small }

.bubble {
    font-weight: bold;
    background-color: #BE81F7;
    padding: 10px;
    margin: 20px;
    color: inherit;
}

/* header styles */
#header {
    height: 150px;
    background: #BE81F7;
}

#header h1 {
    float: left;
    margin: 40px 0 0 70px;
    font-size: 60px;
    color: #F6CEEC;
}

#logo {
    height: 120px;
    width: 120px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

/* top-bar styles */
#nav {
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
    background-color: #F6CEF5;
    border-bottom: 1px solid #BE81F7; 
    border-top: 1px solid #BE81F7; 
}

#nav li {
    float: left; 
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #BE81F7; 
}

#nav li a:hover {
    color: #c00;
    background-color: #fff; 
}

/* footer styles */
#footer {
    height: 60px;
    clear: left;
    background: #BE81F7;
}

/* index page styles */
#announce {
    height: 550px;
    width: 100%;
    float: left;
    background: #FAFAFA;
}

/* products page styles */
#category {
    width: 190px;
    margin: 20px;
    float: left;
}

#category h3 {
    font: bold 13px Verdana;
    color: #FBEFF5;
    background: #BE81F7;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
}

#category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

#category li {
    padding-bottom: 2px;
}

#category li a{
    font-size: 14px;
    font-weight: bold; 
    text-align: left;
    color: black;
    background: #F6CEF5;
    display: block;
    padding: 5px 0px 5px 30px;
    line-height: 17px;
    text-decoration: none;
}

#category li a:hover{
    color: #c00;
    background: #BCA9F5;
}

#itemList {
    width: 770px;   
    background: #FFF;
    float: left;
}

#productTable { width: 730px }

#productTable tr { height: 150px }

#productTable td { width: 200px }

/* cart page styles */
#cartTable { width: 960px }

#cartTable td {
    width: 145px;
    height: 90px;
}

#actionBar {
    margin: 30px;
    width: 100%;
    text-align: center;
}

#subtotal { margin: 10px 0 20px 250px }

/* checkout page styles */
#checkoutTable {
    width: 960px;
    padding: 10px;
    background-color: #BCA9F5;
}

#checkoutTable td {
    vertical-align: top;
    text-align: right;
    margin: 5px;
}

.inputField { 
    float: left;
}

#infoBox { padding: 10px 25px 0 460px }

