/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2014, 4:22:24 PM
    Author     : RedPencil
*/

/* html tags */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 0;
    background-color: #333;
    height: 1px;
    width: 95%;
}

table {
    margin: 0 20px 20px;
    border-spacing: 0;
    text-align: center;
    border: solid 1px #f5eabe;
}

/* general styles */
#main { background: white }

.lightBlue { background-color: #edf8f7 }

.white { background-color: #fff }

.smallText { font-size: small }

/* header styles */
#header {
    height: 150px;
    background: #aaa;
}

#header h1 {
    float: left;
    margin: 40px 0 0 70px;
    font-size: 60px;
    color: #333;
}

#logo {
    height: 120px;
    width: 120px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

/* top-bar styles */
#nav {
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; 
}

#nav li {
    float: left; 
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc; 
}

#nav li a:hover {
    color: #c00;
    background-color: #fff; 
}

/* footer styles */
#footer {
    height: 60px;
    clear: left;
    background: #aaa;
}

/* index page styles */
#newArrive {
    height: 550px;
    width: 600px;
    float: left;
    background: #ccc;
}

.itemBox {
    height: 180px;
    width: 220px;
    margin: 20px 5px 20px 50px;
    float: inherit;
    background: #ccc;  
    border: 1px solid #fff; 
}

.itemName {
    line-height: 150%;
    font-size: x-large;
}

#announce {
    height: 550px;
    width: 400px;
    float: left;
    background: #ddd;
}

/* products page styles */
#category {
    width: 190px;
    margin: 20px;
    float: left;
}

#category h3 {
    font: bold 13px Verdana;
    color: white;
    background: #606060;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding: 7px 0px 7px 0px;
}

#category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

#category li {
    padding-bottom: 2px;
}

#category li a{
    font-size: 14px;
    font-weight: bold; 
    text-align: left;
    color: black;
    background: #E9E9E9;
    display: block;
    padding: 5px 0px 5px 30px;
    line-height: 17px;
    text-decoration: none;
}

#category li a:hover{
    color: white;
    background: black;
}

#itemList {
    width: 770px;
    background: #ddd;
    float: left;
}

#productTable { width: 730px }

#productTable tr { height: 150px }

#productTable td { width: 200px }